<div class="mx-auto text-center ">
    <div class="card mx-auto text-center shadow p-3 my-5 bg-white rounded" style="width: 18rem;">
        <img src="https://picsum.photos/300/200?random=1" class="card-img-top ">
        <div class="card-body ">
            <h2 class="card-text">{{name}}</h2>
        </div>
    </div>
</div>